{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>简介 - 关于龙猫阿呆阿瓜</title>
    <meta name="keywords" conent="龙猫,宠物龙猫,龙猫饲养,龙猫价格,龙猫知识科普,龙猫百科,龙猫星球, 龙猫游戏, 龙猫阿呆阿瓜, 龙猫阿呆斗恶龙,阿呆阿瓜的娘,  Chinchilla, Pet Chinchilla,Chinchilla care,Chinchilla price,Chinchilla knowledge popularization,Chinchilla encyclopedia,  Chinchilla planet, chinchilla game">
    <meta name="description" conent="龙猫是一种可爱的小型宠物，性格温顺，非常适合家庭饲养。了解龙猫的特点、如何正确饲养,更多有关龙猫的知识以及玩龙猫主题游戏，请访问我们网站。chinchilla is a lovely small pet with a gentle temperament, perfect for home keeping. To learn more about the characteristics of chinchilla, how to properly care for them, and for more knowledge about chinchilla as well as playing chinchilla-themed games, please visit our website">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet"> -->
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet">

    <!-- Font Awesome -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet"> -->
    <link href="{% static 'css/all.min.css' %}" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YY1W2V71ZJ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-YY1W2V71ZJ');
    </script>

</head>

<body>
    <!-- Topbar Start -->
    <!-- <div class="container-fluid bg-primary py-3 d-none d-md-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-white pr-3" href="">FAQs</a>
                        <span class="text-white">|</span>
                        <a class="text-white px-3" href="">Help</a>
                        <span class="text-white">|</span>
                        <a class="text-white pl-3" href="">Support</a>
                    </div>
                </div>
                <div class="col-md-6 text-center text-lg-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-white px-3" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-white px-3" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-white px-3" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-white px-3" href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="text-white pl-3" href="">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-white navbar-light shadow p-lg-0">
                <a href="/home" class="navbar-brand d-block d-lg-none">
                    <h1 class="m-0 display-4 text-primary"><span class="text-secondary">龙猫</span>小镇</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href="/home" class="nav-item nav-link active">主页</a>
                        <a href="/home/about" class="nav-item nav-link">简介</a>
                        <a href="/home/project" class="nav-item nav-link">AI项目</a>

                    </div>
                    <a href="/home" class="navbar-brand mx-5 d-none d-lg-block">
                        <h1 class="m-0 display-4 text-primary"><span class="text-secondary">龙猫</span>小镇</h1>
                    </a>
                    <div class="navbar-nav mr-auto py-0">
                        <a href="/home/gallery" class="nav-item nav-link">画廊</a>
                        <a href="/home/knowledge" class="nav-item nav-link">科普</a>
                        <!-- /home/knowledge -->
                        <a href="/home/contact" class="nav-item nav-link">联系</a>
                        <!-- /home/contact -->
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid page-header" style="margin-bottom: 90px;">
        <div class="container text-center py-5">
            <h1 class="text-white display-3 mt-lg-5">关于我们</h1>
            <div class="d-inline-flex align-items-center text-white">
                <p class="m-0"><a class="text-white" href="/home">主页</a></p>
                <i class="fa fa-circle px-3"></i>
                <p class="m-0">关于我们</p>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <h1 class="section-title position-relative text-center mb-5">阿呆阿瓜简介</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 py-5">
                    <h4 class="font-weight-bold mb-3">关于我们</h4>
                    <!-- <h5 class="text-muted mb-3">我们是可爱的龙猫</h5> -->
                    <!-- <p>"2020年1月11日，当我们俩还是几个月大的宝宝时，我们被挂在了海鲜市场。麻麻刷到了我们，被我们毛茸茸、圆溜溜的模样迷倒了！她当天就急匆匆冒着大雨把我们接回了家。从那一天起，我们就和麻麻一起生活啦！吃得饱、住得大，麻麻每天还放我们出来玩耍30分钟，我们特别喜欢蹦床、在枕头上撒尿、在饭桌上拉屎，我们爱麻麻！"
                    </p> -->
                    <p>2020年1月11日，当我们俩还是小不点时，被挂在了热闹的海鲜市场。那天，麻麻偶然刷到了我们，被我们那毛茸茸、圆乎乎的模样给迷住啦！她冒着大雨，急匆匆地赶来把我们接回了家。
                        从那天起，我们就和麻麻一起生活啦🏡！我们吃得饱饱的，住得舒舒服服的，每天还有30分钟的自由玩耍时间！我们超级喜欢在床上蹦来蹦去，偶尔在枕头上留个“小标记”，或者在饭桌上留下我们的小秘密💩。尽管有时候会调皮捣蛋，但我们真的很爱很爱麻麻！我们是世界上最幸福的小龙猫啦！💕
                        </p>
                    <!-- <a href="" class="btn btn-secondary mt-2">更多</a> -->
                </div>
                <div class="col-lg-4" style="min-height: 400px;">
                    <div class="position-relative h-100 rounded overflow-hidden">
                        <img class="position-absolute w-100 h-100"
                            src="{{ minio_url }}/{{ bucket }}/about.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-4 py-5">
                    <h4 class="font-weight-bold mb-3">我们的特点</h4>
                    <!-- <p>我们很可爱 毛茸茸</p> -->
                    <h5 class="text-muted mb-3"><i class="fa fa-paw text-secondary mr-3"></i>阿呆：紫灰龙猫，DOB：2019.8</h5>
                    <h5 class="text-muted mb-3"><i class="fa fa-arrow-right  text-secondary mr-3"></i>特点：圆头鼠，装凶鼠，吃不饱鼠
                    </h5>
                    <h5 class="text-muted mb-3"><i class="fa fa-paw text-secondary mr-3"></i>阿瓜：粉白龙猫，DOB：2019.8</h5>
                    <h5 class="text-muted mb-3"><i class="fa fa-arrow-right  text-secondary mr-3"></i>特点：咬妈鼠，弹跳鼠，刹不住鼠
                    </h5>

                    <!-- <a href="/home/about" class="btn btn-primary mt-2">了解更多</a> -->
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <h1 class="section-title position-relative text-center mb-5">阿呆阿瓜的娘简介</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 py-5">
                    <h4 class="font-weight-bold mb-3">关于我</h4>
                    <!-- <h5 class="text-muted mb-3">我们是可爱的龙猫</h5> -->
                    <!-- <p>我从小喜欢小动物，小时候养过小兔子、小鸭子、小鸡、乌龟、虎皮鹦鹉、寄居蟹、金鱼、仓鼠等等。2009年，家里养了两只大型犬，一只萨摩耶和一只巨型贵宾。父母把它们当亲儿子养，我把它们当亲弟弟养。可惜哈哩在17年圣诞节离开了我们，安迪也在23年8月离开了。不过，我还有阿呆和阿瓜，我要把鼠子们养得圆圆壮壮，希望它们能再陪我十年！
                    </p> -->
                    <p>我从小就喜欢小动物，养过小兔子、小鸭子、小鸡、乌龟、虎皮鹦鹉、寄居蟹、金鱼、仓鼠……简直可以开动物园啦！
                        2009年，家里迎来了两只大型犬——萨摩耶（哈哩）和巨型贵宾（安迪）。它们就像我的亲弟弟一样，被家人宠爱着，我们一起度过了许多欢乐时光🌈。可惜，哈哩在17年圣诞节🎄被圣诞老人带走了、安迪在23年8月去了汪星🌟......
                        好在，我还有阿呆和阿瓜这两个小可爱陪伴着。我要把它们养得圆圆滚滚、健健康康的，希望它们能再陪我十年，一起创造更多美好回忆！🐹💕</p>
                    <!-- <a href="" class="btn btn-secondary mt-2">更多</a> -->
                </div>
                <div class="col-lg-4" style="min-height: 400px;">
                    <div class="position-relative h-100 rounded overflow-hidden">
                        <img class="position-absolute w-100 h-100"
                            src="{{ minio_url }}/{{ bucket }}/aboutme.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-4 py-5">
                    <h4 class="font-weight-bold mb-3">我的特点</h4>
                    <!-- <p>我们很可爱 毛茸茸</p> -->
                    <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>饭量大</h5>
                    <h5 class="text-muted mb-3"><i class="fa fa-check  text-secondary mr-3"></i>喜欢一切可爱的东西</h5>
                    <!-- <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>爱发嗲</h5> -->
                    <h5 class="text-muted mb-3"><i class="fa fa-check  text-secondary mr-3"></i>努力学编程ing
                    </h5>

                    <!-- <a href="/home/about" class="btn btn-primary mt-2">了解更多</a> -->
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- Team Start -->
    <!-- <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="section-title position-relative mb-5">Experienced & Most Famous Ice Cream Chefs</h1>
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0 pb-5 pb-lg-0"></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="owl-carousel team-carousel">
                        <div class="team-item">
                            <div class="team-img mx-auto">
                                <img class="rounded-circle w-100 h-100" src="{% static 'img/team-1.jpg' %}" style="object-fit: cover;">
                            </div>
                            <div class="position-relative text-center bg-light rounded px-4 py-5" style="margin-top: -100px;">
                                <h3 class="font-weight-bold mt-5 mb-3 pt-5">Full Name</h3>
                                <h6 class="text-uppercase text-muted mb-4">Designation</h6>
                                <div class="d-flex justify-content-center pt-1">
                                    <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-item">
                            <div class="team-img mx-auto">
                                <img class="rounded-circle w-100 h-100" src="{% static 'img/team-2.jpg' %}" style="object-fit: cover;">
                            </div>
                            <div class="position-relative text-center bg-light rounded px-4 py-5" style="margin-top: -100px;">
                                <h3 class="font-weight-bold mt-5 mb-3 pt-5">Full Name</h3>
                                <h6 class="text-uppercase text-muted mb-4">Designation</h6>
                                <div class="d-flex justify-content-center pt-1">
                                    <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-item">
                            <div class="team-img mx-auto">
                                <img class="rounded-circle w-100 h-100" src="{% static 'img/team-3.jpg' %}" style="object-fit: cover;">
                            </div>
                            <div class="position-relative text-center bg-light rounded px-4 py-5" style="margin-top: -100px;">
                                <h3 class="font-weight-bold mt-5 mb-3 pt-5">Full Name</h3>
                                <h6 class="text-uppercase text-muted mb-4">Designation</h6>
                                <div class="d-flex justify-content-center pt-1">
                                    <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-item">
                            <div class="team-img mx-auto">
                                <img class="rounded-circle w-100 h-100" src="{% static 'img/team-4.jpg' %}" style="object-fit: cover;">
                            </div>
                            <div class="position-relative text-center bg-light rounded px-4 py-5" style="margin-top: -100px;">
                                <h3 class="font-weight-bold mt-5 mb-3 pt-5">Full Name</h3>
                                <h6 class="text-uppercase text-muted mb-4">Designation</h6>
                                <div class="d-flex justify-content-center pt-1">
                                    <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Team End -->


    <!-- Footer Start -->
    <div class="container-fluid footer bg-light py-5" style="margin-top: 90px;">
        <div class="container text-center py-5">
            <div class="row">
                <div class="col-12 mb-4">
                    <!-- <a href="index.html" class="navbar-brand m-0"> -->
                    <h1 class="m-0 mt-n2 display-4 text-primary"><span class="text-secondary">联系</span>阿呆阿瓜的娘</h1>
                    </a>
                </div>
                <div class="col-12 mb-4">
                    <a class="btn btn-outline-secondary btn-social mr-1"
                        href="https://www.xiaohongshu.com/user/profile/593635ba33594a3e7b4ac3d2?xhsshare=CopyLink&appuid=593635ba33594a3e7b4ac3d2&apptime=1713332851"
                        target="_blank"><i class="fas fa-book"></i></a>
                    <a class="btn btn-outline-secondary btn-social mr-1" href="https://b23.tv/0R67GK9"
                        target="_blank"><i class="fas fa-bold"></i></a>
                    <a class="btn btn-outline-secondary btn-social mr-1"
                        href="https://www.douyin.com/user/MS4wLjABAAAAOc1LZ2PW_LevsoufIYEUepyOmtoGHLscRQOFiMtsrZJeYpjZy7Flaharnl49umzH"
                        target="_blank"><i class="fas fa-music"></i></a>
                    <a class="btn btn-outline-secondary btn-social mr-1"
                        href="https://www.instagram.com/kathy.zhaowq?igsh=OGQ5ZDc2ODk2ZA%3D%3D&utm_source=qr"
                        target="_blank"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-secondary btn-social mr-1" href="https://www.youtube.com/@kathyzwq"
                        target="_blank"><i class="fab fa-youtube"></i></a>

                </div>
                <div class="col-12 mt-2 mb-4">
                    <div class="row">
                        <div class="col-sm-6 text-center text-sm-right border-right mb-3 mb-sm-0">
                            <h5 class="font-weight-bold mb-2">邮箱</h5>
                            <p class="mb-2">adaiaguadeniang@163.com</p>
                            <!-- <p class="mb-2"></p>(阿呆阿瓜的娘 拼音)</p> -->
                            <!-- <p class="mb-0">+012 345 67890</p> -->
                        </div>
                        <div class="col-sm-6 text-center text-sm-left">
                            <h5 class="font-weight-bold mb-2">小红书/b站/抖音</h5>
                            <p class="mb-2">搜索：阿呆阿瓜的娘</p>
                            <!-- <p class="mb-0">Sunday: Closed</p> -->
                        </div>
                    </div>
                </div>
                <!-- <div class="col-12">
                    <p class="m-0">&copy; <a href="#">Domain</a>. All Rights Reserved. Designed by <a
                            href="https://htmlcodex.com">HTML Codex</a>
                    </p>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-secondary px-2 back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>

    <!-- Contact Javascript File -->
    <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
    <script src="{% static 'mail/contact.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>