<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>


    <style>
        .iframe-container {
            position: relative;
            overflow: hidden;
            padding-top: 150%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
        }
        
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    </style>
</head>
<body>
    <h1>Welcome to KathyBlog!</h1>
     <a href="http://127.0.0.1:8502">Streamlit</a>
    <button onclick="window.location.href='/home/dragongame'">View Streamlit Page</button>
    <div class="iframe-container">
        <iframe src="http://127.0.0.1:8502"></iframe>
    </div>
</body>
</html>
